<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/navette.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1>Bonjour {{user.username}} </h1>
    <br>
    <br>
    <br>
    <form class=option method="POST" action="/si/{{amp.id}}">
        <h6>Inscription sur l'amplet de {{amp.coursier}} du {{amp.debut}}</h6>

        <table>
            <thead>
                <tr>
                    <td>Nom du produit</td>
                    <td>Quantité (en kg, g ou unité)</td>
                    <td>Unité</td>
                </tr>
            </thead>
            <tbody>
                {% for i in range(5) %}
                <tr>
                    <td>
                        <select name="produit{{i}}">
                        {% for produit in produits %}
                            <option value="{{produit.nom}}">{{produit.nom}} de {{produit.marchand}}</option>
                        {% endfor %}
                        <option value="null" selected="selected"></option>
                        </select>
                    </td>
                    <td>
                        <input type='number' class="w-25" min="0" max="40" name="quantite{{i}}">
                    </td>
                    <td>
                        <select name='unite{{i}}'>
                            <option value="kg">kg</option>
                            <option value="g">g</option>
                            <option value="unite">à l'unité</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Envoyer" class = "bouton1"> {% for mesg in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ mesg }}
        </div>
        {% endfor %}
        <br>
        <br>
        <p>Afin que votre demande/vote se déroule dans les meilleures conditions merci de ne pas choisir de produits sans quantités ou de quantités sans produits. Ces demandes seraient alors ignorés de votre commande</p>
    </form>

</body>

</html>