<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/amplet_en_cours.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Hello master</h1>
    <p>Création d'amplet Navette : </p>
    <form method="POST">
    Date départ<br>
    <input type='date' name="dateD"><br>
    Heure départ<br>
    <input type='number' name='heureD' min='0' max='23' value='8'><br>
    Date arrivée<br>
    <input type='date' name="dateA"><br>
    Places dispo<br>
    <input type='number' name='places_dispo' min='1' max='100' value='5'><br>
    <input type="submit">
    </form>
</body>
</html>