<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/amplet_en_cours.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Hello master</h1>
    <p>Création d'amplet Navette : </p>
    <p>Format dd-mm-aaaa (pitié je vais mettre le truc a jupux plus tard)</p>
    <form method="POST">
    Date départ<br>
    <input type='text' name="dateD"><br>
    Date arrivée<br>
    <input type='text' name="dateA"><br>
    Places dispo<br>
    <input type='number' name='places_dispo' min='1' max='100'><br>
    <input type="submit">
    </form>
</body>
</html>