<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/amplet_en_cours.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1 class="titre"> Les amplets à venir ! </h1>

    <div class="mainbody">

        <form class="option" method="POST" action='/amplets_en_cours'>
            <div class="itemopt">
                À partir du :
                <input type="date" name="mindate" class=d ateinput value="{{debut}}" />
            </div>
            <div class="itemopt">
                Jusqu'au :
                <input type="date" name="maxdate" class=d ateinput value="{{fin}}" />
            </div>
            <div class="itemopt">
                Classé par :
                <select class='select1' name="recherche">
                        {% for rec in recherche %}
                        <option value="{{rec}}">{{rec}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="itemopt">
                <p>Type de magasins à inclure :</p>
                <div class="checkboxlist">
                    {% for mag in type_magasins %}
                    <div class="checkboxitem">
                        <input type="checkbox" id="{{mag[0]}}" name="{{mag[0]}}" value="on" {{ "checked" if mag[1] else "" }}>
                        <label for="{{mag[0]}}">{{mag[0]}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="itemopt">
                <button type="submit" href="/amplets_en_cours" class="button1"> Rechercher </button>
            </div>
        </form>

        <div class="affichage">

            {{ "Aucune amplet ne répond à vos critères !" if amplets|length==0 else "" }} {% for amp in amplets %}
            <div class="amplet_item">

                <div class="a_head">
                    <h5 class="a_titre">Amplet du {{amp.debut}}</h5>

                    <form action ="/i/{{amp.id}}" >
                        <input type="submit" class="a_button" value ="S'inscrire"/>
                     </form>

                </div>

                <div class="a_body">

                    <div class="a_cont">
                        <p> Place{{ "s" if amp.places >1 else "" }} restante{{ "s" if amp.places >1 else "" }} : {{(amp.places)}} </p>
                        <p> Code postal : {{amp.cp}} </p>
                        <p> Coursier : {% if amp.navette != "NULL" %} Navette {% endif %} {% if amp.id_cours!="Navette" %} <a href="/p/{{amp.id_cours}}"> {{amp.coursier}}</a> {% endif %} </p>
                    </div>

                    <div class="a_cont">

                        <div class="a_text">
                            Participant{{ "s" if amp.participants|length>1 else ""}} :
                        </div>
                        <div class="a_liste">

                            {% if amp.participants|length==0 %}
                            <div class='a_liste_item'> Aucun </div> {% endif %} {% for p in amp.participants %}
                            <div class="a_liste_item"> {{p}} </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="a_cont">

                        <div class="a_text">
                            Magasin{{ "s" if amp.l_magasins|length>1 else ""}} visité{{ "s" if amp.l_magasins|length>1 else ""}} :
                        </div>
                        <div class="a_liste">

                            {% for m in amp.l_magasins %}
                            <div class="a_liste_item"> {{m}} </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>

            </div>
            {% endfor %}

        </div>


    </div>


</body>

</html>