<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/amplet_en_cours.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1 class="titre"> Les amplets à venir !</h1>

    <div class="mainbody">

        <form class="option" method="POST" action='/amplets_en_cours'>
            <div class="itemopt">
                À partir du :
                <input type="date" name="mindate" class=d ateinput value="{{debut}}" />
            </div>
            <div class="itemopt">
                Jusqu'au :
                <input type="date" name="maxdate" class=d ateinput value="{{fin}}" />
            </div>
            <div class="itemopt">
                Classé par :
                <select class=s elect1 name="recherche">
                        {% for rec in recherche %}
                        <option value="{{rec}}">{{rec}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="itemopt">
                <p>Types de magasins :</p>
                <div class="checkboxlist">
                    {% for mag in magasins %}
                    <div class="checkboxitem">
                        <input type="checkbox" id="{{mag[0]}}" name="{{mag[0]}}" value="on" {{ "checked" if mag[1] else "" }}>
                        <label for="{{mag[0]}}">{{mag[0]}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="itemopt">
                <button type="submit" href="/amplets_en_cours" class="button1"> Rechercher</button>
            </div>
        </form>
        <div class="affichage">
            Aucune amplet ne répond à vos critères !
        </div>
    </div>
</body>

</html>