<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/amplet_en_cours.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <pre class="justify-content-center mb-md-0">Amplet</pre>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Présentation</a></li>
                    <li><a href="/navette" class="nav-link px-2 link-dark">Navette Amplet</a></li>
                    <li><a href="/nouvelleAmplet" class="nav-link px-2 link-dark">Créer une Amplet</a></li>
                    <li><a href="/particulier" class="nav-link px-2 link-dark">Particulier à particulier</a></li>
                    <li><a href="/amplets_en_cours" class="nav-link px-2 link-dark">Les prochaines amplets</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{url_for('static',filename='photos/chien.jpeg')}}" alt="chien" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/login">Se connecter</a></li>
                        <li><a class="dropdown-item" href="/register">S'inscrire</a></li>
                        <li><a class="dropdown-item" href="/profil">Profil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <h1 class="titre"> Les amplets à venir !</h1>

    <div class="mainbody">

        <form class="option" method="POST" action='/amplets_en_cours'>
            <div class="itemopt">
                À partir du :
                <input type="date" name="mindate" class=d ateinput value="{{debut}}" />
            </div>
            <div class="itemopt">
                Jusqu'au :
                <input type="date" name="maxdate" class=d ateinput value="{{fin}}" />
            </div>
            <div class="itemopt">
                Classé par :
                <select class=s elect1 name="recherche">
                        {% for rec in recherche %}
                        <option value="{{rec}}">{{rec}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="itemopt">
                <p>Types de magasins :</p>
                <div class="checkboxlist">
                    {% for mag in magasins %}
                    <div class="checkboxitem">
                        <input type="checkbox" id="{{mag[0]}}" name="{{mag[0]}}" value="on" {{ "checked" if mag[1] else "" }}>
                        <label for="{{mag[0]}}">{{mag[0]}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="itemopt">
                <button type="submit" href="/amplets_en_cours" class="button1"> Rechercher</button>
            </div>
        </form>
        <div class="affichage">
            Aucune amplet ne répond à vos critères !
        </div>
    </div>
</body>

</html>