<html>

<head>
    <meta charset="utf-8">
    <title>Amplet Register</title>
    {% include 'headers/imports.html' %}
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5 text-center">
                            {% if login %}
                            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Se connecter</h2>
                            {% for mesg in get_flashed_messages() %}
                            <div class="alert alert-danger" role="alert">
                                {{ mesg }}
                            </div>
                            {% endfor %}
                            <div class="login-form">
                                <form method='POST' action=''>
                                    {{form.hidden_tag()}}
                                    <div class="row d-flex justify-content-center mb-3">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                {{form.username}}
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center mb-3">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    {{form.password}}
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center mb-3">
                                                <div class="col-md-6 mb-4 pb-2">

                                                    <div class="form-outline">
                                                        {{form.submit}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                Pas encore de compte ? <a href="register">S'inscrire</a>
                            </div>
                            {% else %}
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Créer un compte</h3>
                            {% for field, errors in form.errors.items() %}
                            <div class="alert alert-danger">
                                {{ ', '.join(errors) }}
                            </div>
                            {% endfor %}
                            <div class="login-form">
                                <form method='POST' action=''>
                                    {{form.hidden_tag()}}
                                    <div class="row d-flex justify-content-center mb-3">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                {{form.email}}
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center mb-3">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    {{form.username}}
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center mb-3">
                                                <div class="col-md-6 mb-4 pb-2">

                                                    <div class="form-outline">
                                                        {{form.password}}
                                                    </div>
                                                </div>
                                                <div class="row d-flex justify-content-center mb-3">
                                                    <div class="col-md-6 mb-4 pb-2">

                                                        <div class="form-outline">
                                                            {{form.submit}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>