<!DOCTYPE html>
<html>
<head>
    <title>Mes Amplets</title>
    {% include 'headers/imports.html' %}
</head>

<body>
    {% include 'headers/navbar.html' %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        Les Amplets sur lesquelles je suis inscrit :<br><br>
        {% for i in range(n) %}
        <b>Amplet numéro {{i+1}}</b><br>
        ID : {{inscr_id_amp[i]}}<br>
        Coursier : <a href="/p/{{inscr_id_coursier[i]}}" >{{inscr_nom_coursier[i]}}</a><br>
        Statut : {{inscr_valide[i]}}<br><br>
        {% endfor %}
      </div>
      <div class="col-sm">


        Les produits que j'ai commandé sur les navettes :<br><br>
        {% for i in range(p) %}
        ================================<br>
        <b>Navette du {{nav_date[i]}}</b><br>
          {% for j in range(nav_list_len[i]) %}
            Nom du produit : {{nav_nom_produits_choisis[i][j]}}<br>
            Un marchand proposant ce produit a été élu !<br>
            Vous en avez commandé {{nav_quantite_produits_choisis[i][j]}} {{nav_unite_produits_choisis[i][j]}}<br>
            Sous-total : {{nav_prix_produits_choisis[i][j]*nav_quantite_produits_choisis[i][j]/100}}€<br><br>
          {% endfor %}
          {% for j in range(nav_list_len2[i]) %}
            Nom du produit : {{nav_nom_produits_pas_choisis[i][j]}}<br>
            Aucun marchand proposant ce produit n'a été élu...<br>
            Vous en aviez commandé {{nav_quantite_produits_pas_choisis[i][j]}} {{nav_unite_produits_pas_choisis[i][j]}}<br><br>
          {% endfor %}
          Total : {{nav_totaux[i]}}€<br>
        {% endfor %}
      </div>
      <div class="col-sm">
        Les Amplets que je propose :<br><br>
        {% for i in range(m) %}
          ================================<br>
          <b>Amplet numéro {{i+1}}</b><br><br>
          ID : {{cours_id_amp[i]}}<br><br>
          Participants : {{cours_places_amp_occ[i]}}/{{cours_places_amp_tot[i]}}<br>
          {% for j in range(cours_list_len[i]) %}
            {% if cours_valide_participants[i][j]==1 %}
            ---------------<br>
              <a href="/p/{{cours_id_participants[i][j]}}" >{{cours_nom_participants[i][j]}}</a><br><br>
              Liste des produits demandés :<br>
              {% for k in range(cours_list_len2[i][j]) %}
                {{cours_quantite_produits_participants[i][j][k]}} {{cours_unite_produits_participants[i][j][k]}} de {{cours_nom_produits_participants[i][j][k]}}<br>
              {% endfor %}
              <br>Statut : Accepté<br>
            {% endif %}
          {% endfor %}<br>
          {% for j in range(cours_list_len[i]) %}
            {% if cours_valide_participants[i][j]==0 %}
            ---------------<br>
              <a href="/p/{{cours_id_participants[i][j]}}" >{{cours_nom_participants[i][j]}}</a><br><br>
              Liste des produits demandés :<br>
              {% for k in range(cours_list_len2[i][j]) %}
                {{cours_quantite_produits_participants[i][j][k]}} {{cours_unite_produits_participants[i][j][k]}} de {{cours_nom_produits_participants[i][j][k]}}<br>
              {% endfor %}
              <br>Statut : En attente<br>
              <a href="/a/{{cours_id_amp[i]}}/{{cours_id_participants[i][j]}}">Accepter</a> / <a href="/r/{{cours_id_amp[i]}}/{{cours_id_participants[i][j]}}">Refuser</a>
            {% endif %}
          {% endfor %}<br>
        {% endfor %}
      </div>
    </div>
</div>
</body>

</html>
