<!DOCTYPE html>
<html>
<head>
    <title>Mes Amplets</title>
    {% include 'headers/imports.html' %}
</head>

<body>
    {% include 'headers/navbar.html' %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        Les Amplets sur lesquelles je suis inscrit :<br><br>
        {% for i in range(n) %}
        Amplet numéro {{i}} :<br>
        ID : {{inscr_id_amp[i]}}<br>
        Coursier : <a href="/p/{{inscr_id_coursier[i]}}" >{{inscr_nom_coursier[i]}}</a><br>
        Status : {{inscr_valide[i]}}<br><br>
        {% endfor %}
      </div>
      <div class="col-sm">
        Les navettes sur lesquelles je suis inscrit :
      </div>
      <div class="col-sm">
        Les Amplets que je propose :    
      </div>
    </div>
</div>
</body>

</html>