<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2">C'est quoi Amplet ?</h1>
                    <p class="lead fw-normal text-dark-50 mb-4">Votre nouveau moyen participatif et démocratique de faire les courses !</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{url_for('static',filename='photos/courses-local-bio-ferme.jpg')}}" alt="..." /></div>
        </div>
    </div>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Découvrir des producteurs locaux !</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Navettes fournies par les mairies</h2>
                            <p class="mb-0">Si votre localisation le permet grâce à l'option navette vous pourrez voter pour des produits du terroir que vous souhaitez obtenir chez vous. </p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Entre particulier</h2>
                            <p class="mb-0">Venez en aide à votre prochain et ayez une démarche écologique du quotidien en proposant d'ouvrir votre course chez le primeur pour d'autres personnes</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Une vision démocratique</h2>
                            <p class="mb-0">Notre système de vote pour la navette et le système de points garantit une juste valorisation de la participation de chacun et pousse chacun à participer à l'entraide</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Calcul d'itinéraires</h2>
                            <p class="mb-0">Grâce à nos algorithmes soyez sûr que votre navette consommera le moins d'essence possible !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"Il vaut mieux arriver en retard qu'arriver en corbillard."</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                            <div class="fw-bold">
                                Anonyme
                                <span class="fw-bold text-primary mx-1">/</span> (probablement) un citoyen modèle
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'chat/main.html' %}

    </main>
</body>

</html>