<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/navette.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1>Bonjour {{user.username}} </h1>
    <br>
    <br>
    <br>
    <form class=option method="POST">
        <h6>Sélectionnez votre navette</h6>
        <select id="navette" name="navette">
            {% for navette in navettes %}
            <option value="{{navette.id}}">{{navette.nom_amplet()}}</option>
            {% endfor %}
          </select>
        <table>
            <thead>
                <tr>
                    <td>Nom du produit</td>
                    <td>Quantité (en kg, g ou unité)</td>
                    <td>Unité</td>
                </tr>
            </thead>
            <tbody>
                {% for i in range(5) %}
                <tr>
                    <td>
                        <select name="produit{{i}}">
                        {% for produit in produits %}
                            <option value="{{produit}}">{{produit}}</option>
                        {% endfor %}
                        <option value="null" selected="selected"></option>
                        </select>
                    </td>
                    <td>
                        <input type='number' class="w-25" min="0" max="40" name="quantite{{i}}">
                    </td>
                    <td>
                        <select name='unite{{i}}'>
                            <option value="kg">kg</option>
                            <option value="g">g</option>
                            <option value="unite">à l'unité</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" href='/navette' value="Envoyer"> {% for mesg in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ mesg }}
        </div>
        {% endfor %}
    </form>
</body>

</html>