<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/navette.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1>Bonjour {{personne['username']}} </h1>
    <br>
    <br>
    <br>
    <form class=option method="POST">
        <h6>Sélectionnez votre navette</h6>
        <select id="navette" name="navette">
            {% for option in optionnavette %}
            <option value="{{option}}">{{option}}</option>
            {% endfor %}
          </select>
        <table>
            <tr>
                <td>Nom du produit</td>
                <td>Quantité (en kg, g ou unité)</td>
            </tr>
            {% for i in range(5) %}
            <tr>
                <td><input type='text' list="produits" name="produit{{i}}">
                    <datalist id="produits">
            {% for produit in produits %}
          <option value="{{produit}}"></option>
          {% endfor %}
        </datalist>

                </td>

                <td><input type='number' name="quantite{{i}}"></td>

                <td>
                    <div class=i temopt></div><select name='unite{{i}}'>
             <option value="kg">kg</option>
             <option value="g">g</option>
             <option value="unite">à l'unité</option>
         </select></div>
                </td>

            </tr>
            {% endfor %}
        </table>
        <input type="submit" href='/navette' value="Envoyer">
    </form>
</body>

</html>