<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/navette.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <h1>Bonjour {{personne['username']}} que souhaitez vous pour la navette du "current navette"</h1>
    <br>
    <br>
    <br>
    <form class=option method="POST">
        <table>
            <tr>
                <td>Nom du produit</td>
                <td>Quantité (en kg, g ou unité)</td>
            </tr>
            {% for i in range(5) %}
            <tr>
                <td><input type='text' list="produits">
                    <datalist id="produits">
          <option value="Carotte(s)"></option>
          <option value="Pomme(s) de terre(s)"></option>
        </datalist>

                </td>

                <td><input type='number'></td>

                <td>
                    <div class=i temopt></div><select name='unité'>
             <option value="kg">kg</option>
             <option value="g">g</option>
             <option value="unite">à l'unité</option>
         </select></div>
                </td>

            </tr>
            {% endfor %}
        </table>
        <input type="button" value="Envoyer">
    </form>
</body>

</html>