<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
</head>

<body>
    {% include 'headers/navbar.html' %}

    <div class="container align-items-center">
        <h1 class="mt-2 text-center">Créer une navette</h1>
    </div>
    <form action="nouvelleNavette" method="POST">
    <div class="row mt-5">
        <div class="text-center col-12 align-self-center">
            <div class="container border rounded-3 border-secondary">
                <h5 class="text-center">Choisissez les marchands :</h5>
                <div class="row justify-content-center">
                    {% for mag in mag_dispo %}
                    <div class="text-center col-2 align-self-center">
                        <input type="checkbox" id="{{mag.id}}" value="{{mag.id}}" name="marchands[]">
                        <label for="{{mag.id}}">{{mag.nom}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center col-12 align-self-center">
            <div class="container border rounded-3 border-secondary">
                <h5 class="text-center">Remplissez les informations :</h5>
                    <div class="row">
                        <div class="text-center mt-3 col-12 align-self-center">
                            <label for="startdate">Jour de départ : </label>
                            <input type="date" name="startdate" value="" />
                        </div>
                        <div class="text-center mt-3 col-12 align-self-center">
                            <label for="starthour">Heure de départ : </label>
                            <input type="number" name="starthour" min="0" max="23" value="12" />
                            <label for="starthour">h</label>
                        </div>
                        <div class="text-center mt-3 col-12 align-self-center">
                            <label for="enddate">Jour de fin : </label>
                            <input type="date" name="enddate" value="" />
                        </div>
                        <div class="text-center mt-3 col-12 align-self-center">
                            <label for="endhour">Heure de fin : </label>
                            <input type="number" name="endhour" min="0" max="23" value="12" />
                            <label for="endhour">h</label>
                        </div>
                        <div class="text-center mt-3 col-12 align-self-center">
                            <label for="delai">Fermer les votes </label>
                            <input type="number" name="delai" min="1" max="6" value="2" />
                            <label for="delai">h avant le départ.</label>
                        </div>
                    </div>
                    <input type="submit" class="btn mt-3 btn-primary btn-lg" value="Valider" /> 
                    <div class="text-center mt-3 col-12 align-self-center"></div>
                    {% for mesg in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                        {{ mesg }}
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

</html>