<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Amplet</title>
    {% include 'headers/imports.html' %}
    <link href="{{url_for('static',filename='css/profil_modif.css')}}" rel="stylesheet">
</head>

<body>
    <div class="b-example-divider"></div>

    {% include 'headers/navbar.html' %}

    <div class="container">
        <div class="main-body">
            <form method="POST">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{user.avatar_url()}}" alt="Admin" class="rounded-circle" width="150px" height="150px">
                                <div class="mt-3">
                                    <h4>{{user.username}}</h4>
                                    <p class="text-secondary mb-1">ID : {{user.id}}</p>
                                    <p class="text-secondary mb-1">{{user.email}}</p>
                                    <p class="text-muted font-size-sm">{{user.code_postal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Pseudo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="username" value="{{user.username}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="mail" value="{{user.email}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Adresse</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" name="numero" value="{{adressereelle.numero}}">
                                    <input type="text" class="form-control" name="rue" value="{{adressereelle.rue}}">
                                    <input type="text" class="form-control" name="ville" value="{{adressereelle.ville}}">
                                    <input type="text" class="form-control" name="code_postal" value="{{adressereelle.codepostal}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" class="btn btn-primary px-4" value="Sauvegarder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</body>

</html>